<div id="app">
  <div v-bind:class="'alert alert-' + game_state_class">
    {{ game_state_message }}
  </div>

  <div id="game" >
    <div id="gallows">
      <%= render "_gallows.html" %>
    </div>
    <div id="status">
      <%= render "_status.html" %>
    </div>
  </div>
</div>
