<div id="app">
  <div v-bind:class="'alert alert-' + game_state_class">
    {{ game_state_message }}
  </div>

  <div class="row" >
    <div style="max-width: 400px; max-height: 800px;">
      <%= render "_gallows.html" %>
    </div>
    <div>
      <%= render "_status.html" %>
    </div>
  </div>
</div>
